/* fonte google */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto';
}

/* logo */
.logo {
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  width: 50px;
}

.logo h2 {
  color: white;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.logo p {
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
}

.logo-texto {
  margin-top: 5px;
  margin-left: 20px;
  text-align: start;
}

/* botao */

.botao-menu {
  background-color: white;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.botao-menu img {
  width: 40px;
}

.botao-menu p {
    font-size: 15px;
    font-weight: bold;
}

.botao-menu a {
  color: black;

}

.botao-menu a:hover {
  color: red;
}

.botao-menu-texto {
  width: 80px;
}

/* navegacao */


.visivel-menu {
  display: none;
}

.navegacao {
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* principal */
main {
  margin-left: 5px;
  margin-right: 5px;
}

/* pesquisa */

.pesquisa {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-campo {
  width: 200px;
  height: 30px;
  font-size: 15px;
}

.input-botao {
  width: 80px;
  height: 30px;
  font-size: 15px;
}

/* banner sobre */

.banner-sobre {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  text-align: center;
  margin-bottom: 20px;
  padding: 0 0px;
}

.banner-sobre p {
  line-height: 40px;
}

/* banner produto */

.banner-produto {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  margin-bottom: 20px;
}

.banner-produto h2 {
  margin-bottom: 15px;
}

.banner-produto img {
  width: 300px;
  margin-bottom: 20px;
}

.banner-produto a {
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 20px;
  background-color: black;
  color: white;
}

.banner-produto a:hover {
  background-color: red;
}

/* destaque produtos */

.produto-card-redondo {
  background-color: white;
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 8px solid;
  border-radius: 50%;
  padding: 20px;
}

.pcr-px img {
  border-radius: 20%;
  width: 66px;
  height: 132px;
}

.pcr-perc img {
  border-radius: 20%;
  width: 85%;
  height: 85%;
}

.pcr-xbox {
  border-color: #7eb900;
}

.pcr-psn {
  border-color: #003d91;
}

.pcr-nintendo {
  border-color: #e8442e;
}

.pcr-telefone {
  border-color:black;
}

.destaque-produtos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* faixa logo */

.faixa {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.faixa-xbox {
  background-color: #7eb900;
}

.faixa-psn {
  background-color: #003d91;
}

.faixa-nintendo {
  background-color: #e8442e;
}

/* galeria */

.galeria h2 {
  font-size: 20px;
  text-align: center;
  border: 2px solid;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 200px;
  padding: 80px
}

/* novidade produto */

.novidade-produto {
  border: 2px solid black;
  margin-bottom: 20px;
}

.novidade-produto h2 {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  
}

/* destaque cliente */

.destaque-cliente {
  background-color: white;
  display: flex;
  flex-direction:column; 
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.destaque-cliente-texto {
  margin-top: 10px;
  border: 4px solid;
  padding: 50px;
  text-align: start;
}

.destaque-cliente-texto p {
  font-style: italic;
}

.destaque-cliente img {
  width: 70px;
}

/* destaque boletim */

.destaque-boletim {
  background-color: black;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; 
  margin-bottom: 20px;
  padding: 10px;
}

.destaque-boletim img {
  width: 60px;
}

.destaque-boletim p {
  font-size: 15px;
  color: white;
}

.destaque-boletim-texto {
  width: 400px;
}

/* rodape */

.rodape {
  background-color: black;
  color: white;
}

.rodape a {
  color: white;
}

.rodape a:hover {
  color: red;
}

.rodape-linha1 {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px
}

.rodape-linha1 h2 {
  font-size: 20px;
}  

.rodape-linha1 li  {
  font-size: 15px;
  line-height: 35px
}

.forma-pagamento {
  display: flex;
  flex-direction: row;;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px
}

.forma-pagamento img {
  width: 60px;
}

.redes-sociais {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around;
  margin-bottom: 20px;
}

.redes-sociais img {
  width: 50px;
}

/* menu sandwich */

.dropdown p {
  color: black;
}

.dropdown .btn {
  background-color:white;
  border: none;
}

.dropdown .btn img {
  width: 40px;
}

.dropdown-menu a:hover {
  color:red;
}