<app-banner-logo></app-banner-logo>
<div class="rodape">
  <div class="rodape-linha1">
    <div class="institucional">
      <h2>Institucional</h2>
      <ul>
        <li><a routerLink="">Missão</a></li>
        <li><a routerLink="">A loja</a></li>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="pesquisa">Console</a></li>
        <li><a routerLink="pesquisa">Jogos</a></li>
        <li><a routerLink="pesquisa">PC Gamer</a></li>
        <li><a routerLink="pesquisa">Telefone</a></li>
        <li><a routerLink="pesquisa">Pesquisa</a></li>
        <li><a routerLink="conta">Login ou cadastro</a></li>
        <li><a routerLink="carrinho">Seu carrinho</a></li>
      </ul>
    </div>

    <div class="ajuda-suporte">
      <h2>Ajuda e suporte</h2>
      <ul>
        <li><a href="#">Perguntas frequentes</a></li>
        <li><a href="#">Politica de privacidade</a></li>
        <li><a href="#">Trocas e devoluções</a></li>
        <li><a href="#">Rastrear pedido</a></li>
      </ul>
    </div>

    <div class="fale-conosco">
      <h2>Fale conosco</h2>
      <ul>
        <li>Telefone: (27) 12345678</li>
        <li>Whatsapp: (27) 123456789</li>
        <li>e-mail: contato@gamemania.xxx</li>
      </ul>
    </div>
  </div>

  <div class="forma-pagamento">
    <p class="visivel"> Formas de pagamento</p>
    <img src="../../../assets/img/icones/100/visa-100.svg" alt="Visa">
    <img src="../../../assets/img/icones/100/mastercard-100.svg" alt="Mastercard">
    <img src="../../../assets/img/icones/100/pix-100.svg" alt="PIX">
    <img src="../../../assets/img/icones/100/boleto-100.svg" alt="Codigo de barras">
  </div>

  <div class="redes-sociais">
    <p class="visivel">Redes sociais</p>
    <a href="https://pt-br.facebook.com/"><img src="../../../assets/img/icones/100/facebook-100.svg" alt="Facebook"></a>
    <a href="https://www.instagram.com/"><img src="../../../assets/img/icones/100/instagram-100.svg" alt="Instagram"></a>
    <a href="https://www.whatsapp.com/?lang=pt_br"><img src="../../../assets/img/icones/100/whatsapp-100.svg" alt="Whatsapp"></a>
  </div>
</div> 