<div class ="novidade-produto">
  <h2>Novidades</h2>

  <div>
    <div id="carouselExampleSlidesOnly" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/novidade/75/asus-geforce-rtx-3060.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/novidade/75/asus-geforce-rtx-tuf-rtx-3080.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>

  <button routerLink="pesquisa" mat-raised-button>Monte o seu</button>           
</div>




