<nav>
  <div class="navegacao">        

    <div class="dropdown menu-visivel">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../../assets/img/icones/menu-barras.svg" alt="">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="">Home</a></li>
        <li><a class="dropdown-item" routerLink="pesquisa">Console</a></li>
        <li><a class="dropdown-item" routerLink="pesquisa">Jogos</a></li>
        <li><a class="dropdown-item" routerLink="pesquisa">PC</a></li>
        <li><a class="dropdown-item" routerLink="pesquisa">Telefone</a></li>
        <li><a class="dropdown-item" routerLink="conta">Conta</a></li>
        <li><a class="dropdown-item" routerLink="carrinho">Carrinho</a></li>
      </ul>
    </div>
    
    <div class="visivel">
      <div class="botao-menu">
        <a href="#"><span class="material-symbols-outlined icones">
          home</span><p >Home</p></a>
      </div>
    </div>          

    <div class="visivel">
      <div class="botao-menu">
        <a routerLink="pesquisa"><span class="material-symbols-outlined icones">
          settop_component</span><p>Console</p></a>
      </div>
    </div>

    <div class="visivel">
      <div class="botao-menu">
        <a routerLink="pesquisa"><span class="material-symbols-outlined icones">
          stadia_controller</span><p>Jogos</p></a>
      </div>
    </div>

    <div class="visivel">
      <div class="botao-menu">
        <a routerLink="pesquisa"><span class="material-symbols-outlined icones">
          laptop_windows</span><p>PC</p></a>
      </div>
    </div>

    <div class="visivel">
      <div class="botao-menu">
        <a routerLink="pesquisa"><span class="material-symbols-outlined icones">
          smartphone</span><p>Telefone</p></a>
      </div>
    </div>

    <div class="visivel">
      <div class="botao-menu">
        <a routerLink="conta"><span class="material-symbols-outlined icones">
          account_circle</span><p>Login</p></a>
      </div>
      <div class="botao-menu-texto">
      </div>
    </div>

    <div class="visivel">
      <div class="botao-menu">
        <a routerLink="carrinho"><span class="material-symbols-outlined icones">
          shopping_cart</span><p>Carrinho</p></a>
      </div>
    </div>
  </div>  
</nav>


