<div class="destaque-produtos visivel ">

  <div>
    <a routerLink="pesquisa">
      <div class="produto-card-redondo pcr-perc pcr-xbox">     
        <img src="../../../assets/img/destaque/consoles/xbox-x-50.jpg" alt="Xbox Serie X">
      </div>  
    </a>            
    <p>Xbox</p>
  </div>

  <div>
    <a routerLink="pesquisa">
      <div class="produto-card-redondo pcr-perc pcr-psn">
        <img src="../../../assets/img/destaque/consoles/playstation5-50.jpg" alt="Playstation 5">
      </div>
    </a>
    <p>Playstation</p>
  </div>

  <div>
    <a routerLink="pesquisa">
      <div class="produto-card-redondo pcr-perc pcr-nintendo">
        <img src="../../../assets/img/destaque/consoles/switch-50.jpg" alt="Nintendo switch">
      </div>
    </a>  
    <p>Nintendo</p>
  </div>  

  <div>
    <a routerLink="pesquisa">
      <div class="produto-card-redondo pcr-px pcr-telefone">
        <img src="../../../assets/img/destaque/smartphone/s20-01-50.jpg" alt="Telefone">                
    </div>
  </a>                
    <p>Telefone</p>
  </div>
</div>   

