<!-- galeria xbox -->

<!-- faixa logo -->
<div class="faixa-logo cor-xbox">
  <a routerLink="pesquisa">
    <img src="../../../assets/img/icones/100/xbox-logo-100.svg" alt="Xbox">
  </a>
</div>

<!-- cards -->
<div class="galeria galeria-xbox">
  <div class="card">
    <img src="{{xbox1.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{xbox1.getTitulo()}}</h5>
      <p class="card-text">{{xbox1.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{xbox1.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-560">
    <img src="{{xbox2.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{xbox2.getTitulo()}}</h5>
      <p class="card-text">{{xbox2.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{xbox2.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-1024">
    <img src="{{xbox3.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{xbox3.getTitulo()}}</h5>
      <p class="card-text">{{xbox3.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{xbox3.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-1260">
    <img src="{{xbox4.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{xbox4.getTitulo()}}</h5>
      <p class="card-text">{{xbox4.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{xbox4.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-1560">
    <img src="{{xbox5.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{xbox5.getTitulo()}}</h5>
      <p class="card-text">{{xbox5.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{xbox5.getPreco()}}</a>
    </div>
  </div>
</div>

<!-- galeria playstation -->

<!-- faixa logo -->
<div class="faixa-logo cor-playstation">
  <a routerLink="pesquisa">
    <img src="../../../assets/img/icones/100/psn-logo-100.svg" alt="Playstation">
  </a>  
</div>

<!-- cards -->        

<div class="galeria galeria-playstation">
  <div class="card">
    <img src="{{psn1.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{psn1.getTitulo()}}</h5>
      <p class="card-text">{{psn1.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{psn1.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-560">
    <img src="{{psn2.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{psn2.getTitulo()}}</h5>
      <p class="card-text">{{psn2.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{psn2.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-1024">
    <img src="{{psn3.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{psn3.getTitulo()}}</h5>
      <p class="card-text">{{psn3.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{psn3.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-1260">
    <img src="{{psn4.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{psn4.getTitulo()}}</h5>
      <p class="card-text">{{psn4.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{psn4.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-1560">
    <img src="{{psn5.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{psn5.getTitulo()}}</h5>
      <p class="card-text">{{psn5.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{psn5.getPreco()}}</a>
    </div>
  </div>
</div>        

<!-- galeria nintendo -->

<!-- faixa logo -->
<div class="faixa-logo cor-nintendo">
  <a routerLink="pesquisa">
    <img src="../../../assets/img/icones/100/nintendo-logo-100.svg" alt="Nintendo">
  </a>  
</div>

<!-- cards -->

<div class="galeria galeria-nintendo">
  <div class="card">
    <img src="{{nint1.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{nint1.getTitulo()}}</h5>
      <p class="card-text">{{nint1.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{nint1.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-560">
    <img src="{{nint2.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{nint2.getTitulo()}}</h5>
      <p class="card-text">{{nint2.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{nint2.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-1024">
    <img src="{{nint3.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{nint3.getTitulo()}}</h5>
      <p class="card-text">{{nint3.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{nint3.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-1260">
    <img src="{{nint4.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{nint4.getTitulo()}}</h5>
      <p class="card-text">{{nint4.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{nint4.getPreco()}}</a>
    </div>
  </div>
  <div class="card visivel-1560">
    <img src="{{nint5.getImagem()}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{nint5.getTitulo()}}</h5>
      <p class="card-text">{{nint5.getDescricao()}}</p>
      <a href="#" class="btn btn-primary">{{nint5.getPreco()}}</a>
    </div>
  </div>
</div>
